<div class="clear"></div>
<div id="quill_{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value|safe }}{% endif %}
</div>
<textarea class="hidden" name="{{ widget.name }}">{% if widget.value %}{{ widget.value }}{% endif %}</textarea>

<script>
    if (Quill) {
        let toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{'header': 1}, {'header': 2}],               // custom button values
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
            [{'indent': '-1'}, {'indent': '+1'}, {'align': []}],          // outdent/indent
            [{'direction': 'rtl'}],                         // text direction
            ['link', 'image'],
            [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
            [{'header': [1, 2, 3, 4, 5, 6, false]}],

            [{'color': []}, {'background': []}],          // dropdown with defaults from theme
            [{'font': []}],

            ['clean']                                         // remove formatting button
        ];

        let quill = new Quill('#quill_{{ widget.name }}', {
            theme: 'snow',
            modules: {
                history: {
                    delay: 2000,
                    maxStack: 500,
                    userOnly: true
                },
                toolbar: {
                    container: toolbarOptions,
                    handlers: {
                        image: imageHandler
                    }
                }
            },
        });

        function imageHandler() {
            var range = this.quill.getSelection();
            var value = prompt('What is the image URL');
            if (value) {
                this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
            }
        }

        quill.on('text-change', function (delta, oldDelta, source) {
            let text = django.jQuery('#quill_{{ widget.name }} .ql-editor').html()
            django.jQuery('textarea[name={{ widget.name }}]').val(text);
        });
    }
</script>